@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background: cadetblue;
  color: #fff;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}